body {
    background-color: #F5F3F4;
    font-family: 'Inter', sans-serif;
    color:#212427;
}
.heading_name {
    color:#A4161A;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size:2.5rem;
}
.logout_button, #id_register_button, #id_login_button{
    background-color: #A4161A;
    border-radius: 0.75rem;
    color:#E2DFEC;
    width:7rem;
    height:2.2rem;
    border: none;
    filter: drop-shadow(2px 2px 2px #9d9d9d);
}
.logout_button:hover, #id_register_button:hover, #id_login_button:hover{
    background-color:#671011;
    transition: 0.2s;
    border-style: solid;
    border-color:#E2DFEC;
    border-width: 0.03rem;
    border-radius: 0.75rem;
      
  }
#scotty_logo, #scotty_text {
    padding-left: 0.75rem;
    height:2.5rem;
    width:auto;
}
#id_logindiv, #id_registerpg{
    margin-left:3rem;
}
#id_site_name {

}
#id_page_name {
    margin-bottom:2.75rem;
}

#id_login_button, #id_register_button {
    margin-top: 3rem;
}

#map {
    width: 50%;
    height: 400px;
}