body {
    background-color: #F5F3F4;
    font-family: 'Inter', sans-serif;
    color:#212427;
}
.heading_name {
    color:#A4161A;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.logout_button {
    background-color: #A4161A;
    border-radius: 0.75rem;
    color:#E2DFEC;
    width:7rem;
    height:2rem;
    border: none;
    filter: drop-shadow(2px 2px 2px #9d9d9d);
}
.logout_button:hover {
    background-color:#671011;
    transition: 0.2s;
    border-style: solid;
    border-color:#E2DFEC;
    border-width: 0.03rem;
    border-radius: 0.75rem;
      
  }
#scotty_logo, #scotty_text {
    padding-left: 0.75rem;
    height:2.5rem;
    width:auto;
}

#id_site_name {

}
#map {
    width: 50%;
    height: 400px;
}