{% extends "base.html" %}
{% load static %}
{% block user-info %}
    <div>
        <a id='id_register_link' href="{% url 'register' %}">
            <button class="logout_button">Register</button>
        </a>
    </div>
{% endblock %}

{% block content %}
<div id="login_maindiv">
    <div id="id_logindiv">
        <p class="heading_name">Hello Again!</p>
        <p id='id_page_name'>Enter your username and password to login to 
            <span style="color: #A4161A">ScottySnacc</span>:</p>
        <form class="form-group" method="post" action="{% url 'login' %}">
            <table class="login-class">
                {{form}}
            </table>
            {% csrf_token %}
            <span>
            <button id='id_login_button' class="btn btn-secondary" type="submit">Login</button>
            <a class="btn btn-google  btn-outline" style="background-color: #5076ce;margin-left:1rem; margin-top:3rem; border-radius:0.75rem; color:aliceblue" href="/oauth/login/google-oauth2/"><img style="background-color: aliceblue; padding:0.25rem;" src="https://img.icons8.com/color/16/000000/google-logo.png"> Login Using Google</a>
            </span>
        </form>
    </div>
    
    <div class="loginimg_div">
        <p class="right-header">Campus <span style="color: #A4161A">Cravings</span>?</p>
        <p class="right-text">Find Free Food & Satisfy Your Hunger Around Campus!</p>
	    <img id="loginimg" src="{% static 'img/login.png'%}">
    </div>
</div>
{% endblock %}