{% extends "base.html" %}
{% block user-info %}
    <div>
        <a id='id_register_link' href="{% url 'register' %}">
            <button class="logout_button">Register</button>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div id="id_logindiv">
        <p class="heading_name">Hello Again!</p>
        <p id='id_page_name'>Enter your email and password to login to 
            <span style="color: #A4161A">ScottySnacc:</span></p>
        <form class="form-group" method="post" action="{% url 'login' %}">
            <table class="login-class">
                {{form}}
            </table>
            {% csrf_token %}
            <button id='id_login_button' class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}