<link rel="stylesheet" href="../../static/base.css">{% extends "base.html" %}
{% block user-info %}
    <div>
        <a id='id_register_link' href="{% url 'logout' %}">
            <button class="btn btn-secondary">Logout</button>
        </a>
    </div>
{% endblock %}
{% block map-ui %}
<body>
    <h1>Scotty Snacc</h1>
    <div id="map"></div>
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    <script>
        function initMap() {
            let CMU = {lat: 40.443336, lng: -79.944023};
            let map = new google.maps.Map(
                document.getElementById('map'), {zoom: 15, center: CMU}
            )
            let marker = new google.maps.Marker({position: CMU, map: map})
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz_8eAQta7W3gX5XwBswQDeNo2TmLCPXI&callback=initMap"></script>
    <button onclick="makeNewEventBlock()">+</button>
    <div class="event-block">
    </div>
</body>

<script>
    window.onload = getEvent;
// ... also call getList every 5 seconds hereafter to update the list
    window.setInterval(getEvent, 5000);
</script>

{% endblock %}