<link rel="stylesheet" href="../../static/base.css">
{% extends "base.html" %}
{% block user-info %}
    <div>
        <a id='id_register_link' href="{% url 'logout' %}">
            <button class="logout_button">Logout</button>
        </a>
    </div>
{% endblock %}
{% block map-ui %}

    <div class="map_page"> 
        <div class="map_newevent">
            <div id="map"></div>
            <button onclick="makeNewEventBlock()" id="new-event-btn" class="btn-circle">+</button>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz_8eAQta7W3gX5XwBswQDeNo2TmLCPXI&libraries=places&callback=initMap"></script>
            <div id="id_new_event"></div>
        </div>
        <div id="update_error"></div>
        <div id="event_block">
            <div id="filter"></div>
            <div id="events"></div>
        </div>
    </div>

<script>
    window.onload = getEvent;
    window.setInterval(getEvent, 5000);
    const current_user = "{{ request.user.id }}"
    const user_tags = " {{ request.user.profile.tag }}"
</script>

{% endblock %}