<link rel="stylesheet" href="../../static/base.css">
{% extends "base.html" %}
{% block user-info %}
    <div>
        <a id='id_register_link' href="{% url 'logout' %}">
            <button class="logout_button">Logout</button>
        </a>
    </div>
{% endblock %}
{% block map-ui %}
<body>
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz_8eAQta7W3gX5XwBswQDeNo2TmLCPXI&libraries=places&callback=initMap"></script>
    <div id="id_new_event"></div>
    <button onclick="makeNewEventBlock()">+</button>
    <div id="event_block">
    </div>
</body>

<script>
    window.onload = getEvent;
// ... also call getList every 5 seconds hereafter to update the list
    window.setInterval(getEvent, 5000);
</script>

{% endblock %}