{% extends "base.html" %}
{% load static %}

{% block user-info %}
    <div>
        <a href="{% url 'login' %}">
            <button id='id_login_link' class="logout_button">Login</button>
        </a>
    </div>
{% endblock %}


{% block content %}
<divi id="register_maindiv">
<div id="id_registerpg">
    <p class="heading_name" >Register for Scotty Snacc</p>
    <p id='id_page_name'>Register with  
            <span style="color: #A4161A">ScottySnacc</span> today!</p>
    <form method="post" class="form-group" action="{% url 'register' %}">
        <table class="register-class">
            {{form}}
        </table>
        {% csrf_token %}
        <span>
        <button class="btn btn-secondary" id='id_register_button' type="submit">Register</button>
        </span> 
    </form>

    {% for error in form.non_field_errors %}
        <p class="error">
            {{ error }}
        </p>
    {% endfor %}
</div>
    <div class="loginimg_div">
        <p class="right-header">Campus <span style="color: #A4161A">Cravings</span>?</p>
        <p class="right-text">Find Free Food & Satisfy Your Hunger Around Campus!</p>
	    <img id="loginimg" src="{% static 'img/register.png'%}">
    </div>
</div>
{% endblock %}
